<h1>Danh sách hàng hóa</h1>
<div class="container">
<div class="header_container">
	<form (ngSubmit)="postData()">
	  <div class="form-group">
	  <label for="tensp" class="lb_hh">Tên hàng hóa</label>   
	    <input type="text" class="form-control" id="tensp" [(ngModel)]="hanghoa.tenHang"  [ngModelOptions]="{standalone: true}">
	  </div>
	  <div class="form-group">
	    <label for="donGia" class="lb_hh">Giá cả</label>
	    <input type="number" class="form-control" id="donGia" [(ngModel)]="hanghoa.donGia" [ngModelOptions]="{standalone: true}">
	  </div>
	  <button type="submit" class="btn btn-primary">Thêm</button>
	</form>
</div>

	<table class="table">
	  <thead>
	    <tr>
	      <th>Mã hàng hóa</th>
	      <th>Tên hàng hóa</th>
	      <th>Giá cả</th>
	    </tr>
	  </thead>
	  <tbody>
	    <tr *ngFor="let hanghoa of data">
	      <td>{{ hanghoa.mahh }}</td>
	      <td>{{ hanghoa.tensp }}</td>
	      <td>{{ hanghoa.donGia }}</td>   
	      <td>
	        <button class="btn_item" (click)="deleteData(hanghoa.mahh)">Xóa</button>
	        <button class="btn_item">Chỉnh sửa</button>
	      </td>
	    </tr>
	  </tbody>
	</table>
</div>


